body {
    margin: 0; 
    background: linear-gradient(90deg, #b9deed, #efefef);
    font-family:Arial, Helvetica, sans-serif; 
}

.header {
    background-color: #0d0d0d; 
    opacity: 0.9;
    width: 95vw;
    margin: 40px auto; 
    border-radius: 15px; 
    box-shadow: 15px 15px 30px grey; 
}

.mainblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 30px 0 0 30px;
}

.title {
    margin-left: -40px;
    flex-grow: 1;
    font-size: 60px;
    font-weight: bolder; 
    color: white;
    text-align: center; 
    padding: 20px 0 0 0;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

.title span {
    font-size: 50px;
    color: yellow;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

.navMenu {
    text-align: right;
    padding: 30px 0 10px;
}

.navMenu a {
    font-style: italic;
    color: grey;
    font-size: 20px;
    padding: 0 40px;
    text-decoration: none;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
    height: 400px;
}

.fullname, .myskills {
    flex-basis: 70%;
    font-size: 1.7rem;
}

.myImg, .emptyBlock {
    flex-basis: 30%;
}

.myImg img { 
    display: block;
    margin: 0 auto; 
  }

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 2em;   
}

.text {
    font-size: 1rem;
    color: #585858;
}

p {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 4rem;
    }

.signature {
    padding-top: 30px;
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0d0d0d; 
    opacity: 0.9; 
    height: 50px;
    width: 95vw;
    margin: 40px auto; 
    border-radius: 15px; 
    box-shadow: 15px 15px 30px grey; 
}
